<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260161558284-al7429r066u04sfcj99ajkoqilfmuv9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260161558284-al7429r066u04sfcj99ajkoqilfmuv9t</string>
	<key>API_KEY</key>
	<string>AIzaSyAL6_uRBFQOUqQ9N8KkUSpCXLOENJOejeU</string>
	<key>GCM_SENDER_ID</key>
	<string>260161558284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hollythackwray.hollythackwray</string>
	<key>PROJECT_ID</key>
	<string>healthy-me-ac442</string>
	<key>STORAGE_BUCKET</key>
	<string>healthy-me-ac442.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260161558284:ios:18d20da5546654e7d75b29</string>
</dict>
</plist>